@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;700;900&display=swap');

* {
  box-sizing: border-box; 
  /* transition: all ease 0.2s; */
}

body {
  background-color: #1B1F22;
  font-family: 'Poppins', sans-serif;
}
